@tailwind base;

@tailwind components;

@tailwind utilities;

/*Directive apply*/
.btn {
    @apply bg-purple-600 text-white font-bold rounded border-purple-400 py-2 px-4 border-b-4;
}


.repos-list {
    columns: 3;
    -moz-columns: 3;
    column-rule: 1px solid;
    @apply p-4;
}

.repos-list li {
    break-inside: avoid-column;
}